.Note {
    background-color: var(--background-dark);
    font-family: 'Nunito';
    color: var(--text);

    display: grid;
    grid-template-columns: 1fr auto;

    margin-bottom: 1em;

    a {
        color: var(--text);
        text-decoration: none;
    }

    &__grid-element {
        &--text {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        &--button {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            
            display: grid;
            align-items: center;
        }
        &--date {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    }
    & > * {
        padding: 0.8em;
    }

    &__date-wrapper {
        &--notepage {
            text-align: right;
        }
    }

    &--notepage {
        grid-template-columns: 100%;
    }
}