.NoteForm {
    font-family: 'Nunito';

    &__header {
        display: block;
        color: var(--text);
    }
    &__form {
        display: block;
    }
    &__textarea-wrapper textarea {
        width: 100%;
        height: 10em;
        resize: vertical;
        font-family: 'Nunito';
        background-color: var(--background-light);
        border: 1px solid var(--border);
        border-radius: 0.1em;
        padding: 0.4em;

    }
    &__button-wrapper {
        text-align: center;
        & button {
            font-family: 'Nunito';
            margin: 1.3em;
            padding: 0.3em 0.9em;
            background-color: var(--background-light);
            border: 1px solid var(--border);
            border-radius: 0.4em;
            transition: .3s;

            &:hover {
                background-color: var(--background-dark);
            }
        }
    }
}